<div class="about_container">
<div>
<div class="about_header">
  <img src="../assets/quote.png" alt="">
  <p class="about_p">"It surpassed our expectations"</p>
</div>
<div class="about_text">Filed has completely surpassed our expectations.
   I will refer everyone I know. Filed is worth much more than I paid."
  </div>
<div class="about_section">
  <img class="about_img" src="https://media.istockphoto.com/photos/african-mid-woman-using-smartphone-at-home-picture-id1319763415?b=1&k=20&m=1319763415&s=170667a&w=0&h=J9vN7w33elL-hY1CogyTB2BzzKpiEbmPqTdsQ6fBbuI=" alt="">
  <div>
  <div><h3>Tonia Y.</h3></div>
  <div><p>Flexi Content @Hello</p></div>
  </div>
</div>
</div>
<div>
  <div class="about_header">
    <img src="../assets/quote.png" alt="">
    <p class="about_p">"The essential marketing tool"</p>
  </div>
  <div class="about_text">Filed is the most valuable business resource we have EVER purchased.
    I was amazed at the quality of filed. We were treated like royalty.</div>
  <div class="about_section">
    <img class="about_img" src="https://media.istockphoto.com/photos/portrait-of-smiling-mixed-race-woman-looking-at-camera-picture-id1319763830?b=1&k=20&m=1319763830&s=170667a&w=0&h=wE44n9yP1nrefeqv5DCl5mE3ouU01FNNHeZPR0yDCWA=" alt="">
    <div>
      <div><h3>Jack Francis </h3></div>
      <div><p>Manager @ Accidents</p></div>
    </div>
  </div>
  </div>
  <div>
    <div class="about_header">
      <img src="../assets/quote.png" alt="">
      <p class="about_p">“Your company is truly upstanding”</p>
    </div>
    <div class="about_text">“The service was excellent. After using filed my business skyrocketed!
      It really saves me time and effort.”</div>
    <div class="about_section">
      <img class="about_img" src="https://media.istockphoto.com/photos/very-concerned-pensive-serious-unemployed-asian-mid-adult-woman-at-picture-id1308653462?b=1&k=20&m=1308653462&s=170667a&w=0&h=051iDwqKJqQ3MTBfAv9F8WXdB__nlQPzzu6FwE6uM_A=" alt="">
      <div>
        <div><h3>Dawna N.</h3></div>
        <div><p>Editor @ Museum</p></div>
      </div>
    </div>
    </div>
</div>
