<div class="article_container">
  <div class="article_benefits">
    <div><h2>The <span>Benefits</span> of using Filed</h2></div>
    <div class="blue_dots"></div>
  </div>
  <div class="article_section">
  <ul>
    <li>
      <div class="client"><img src="../assets/check_icon.png" alt=""></div>
        Ability to scale using Dexter, our AI-powered marketing genius.
    </li>
    <li>
        <div class="client"><img src="../assets/check_icon.png" alt=""></div>
        Client Success Manager who will optimize your Facebook ad campaigns and
       focus driving the best possible results for you.
    </li>

    <li>
      <div class="client"><img src="../assets/check_icon.png" alt=""></div>
        This is a limited time offer only.
     </li>
  </ul>
  </div>
</div>
